<div class="it-header-center-wrapper">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="it-header-center-content-wrapper">
          <div class="it-brand-wrapper">
            <a href="#">
              <img class="icon" src="https://gabrieljones.it/assets/logo.png" alt="///">
              <div class="it-brand-text">
                <div class="it-brand-title">Gabriel Jones Official Blog</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
