<!doctype html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Gabriel Jones Web Blog">
  <meta name="keywords" content="Gabriel Jones Web Blog">
  <meta name="author" content="John Doe">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="
  https://cdn.jsdelivr.net/npm/bootstrap-italia@2.14.0/dist/js/bootstrap-italia.min.js
  "></script>
  <link href="
  https://cdn.jsdelivr.net/npm/bootstrap-italia@2.14.0/dist/css/bootstrap-italia.min.css
  " rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://opencity.comune.bolzano.it/var/bolzano_opencity/cache/public/stylesheets/57b177e4d4d0d2d087c924e3d041d7cb_1690206125_all.css" /></head>
<body>
  {%- include header/header.html -%}
  {{ content }}
</body>
</html>
